form .create {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--text);
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid var(--wan);
  background-color: var(--to);
}
.create:hover {
  cursor: url(../assets/img/create.png), pointer;
  color: var(--wan);
  transform: scale(1.1);
  outline: 2px solid var(--svn);
  box-shadow: 4px 5px 17px -4px var(--tre);
}
.create::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--et);
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.create:hover::before {
  width: 250%;
}
li {
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 1em;
  font-family: "Arvo", sans-serif;
  font-size: 20px;
  display: flex;
  color: var(--text);
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0 1em;
  button {
    width: 75px;
    padding: 0;
    border: none;
    transform: rotate(5deg);
    transform-origin: center;
    font-family: "Lora-i", cursive;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 0 #494a4b;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color: var(--text);
    background-color: var(--to);
  }
  button:active {
    transform: translateY(5px);
    padding-bottom: 0px;
    outline: 0;
  }
}
.btn-delete:hover {
  cursor: url(../assets/img/trash.png), pointer;
  background-color: red;
  animation: shake3856 0.3s linear infinite both;
}

@keyframes shake3856 {
  0%,
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
}

.btn-edit:hover {
  cursor: url(../assets/img/user-edit.png), pointer;
  background-color: green;
  animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
  0%,
  100% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
}
