@font-face {
  font-family: "Arvo";
  src: url(../assets/fonts/Arvo/Arvo-Regular.ttf);
}
@font-face {
  font-family: "Lora-i";
  src: url(../assets/fonts/Lora/Lora-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: "BitcountGridDouble";
  src: url(../assets/fonts/Bitcount_Grid_Double/BitcountGridDouble-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --wan: #1e0057;
  --to: #2a005d;
  --tre: #360089;
  --por: #4200a2;
  --payb: #5000c0;
  --sx: #5400cf;
  --svn: #ac86da;
  --et: #c5aee3;
  --nay: #a15b9e;
  --text: #ecdff6;
}
body {
  background-color: #ffc0cb;
  h2 {
    font-family: "BitcountGridDouble", sans-serif;
    color: var(--to);
    font-size: 4em;
    margin-top: 2em;
    text-align: center;
    backdrop-filter: blur(10px);
    text-shadow: var(--et) 2px 2px 4px;
  }
  form {
    gap: 15px;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
  }
  input {
    background-color: var(--to);
    border: 5px solid none;
    border-top-width: 1.7em;
    margin: 0;
    padding: 0;
    color: var(--text);
    word-wrap: break-word;
    outline: 3px solid var(--tre);
    height: 30px;
    font-size: 17px;
    text-align: center;
    transition: all 1s;
    max-width: 190px;
    font-weight: bold;
    font-family: 'Arvo', Courier, monospace;
    border-radius: 8px ;
  }
  input:hover {
    border-top-width: 0.2em;
    cursor: url(../assets/img/input.png), pointer;
    background-color: var(--payb);
  }
  input:focus {
    border-top-width: 0.2em;
    background-color: var(--payb);
  }
}
li {
  width: auto;
  height: 70px;
  padding: 5px 10px;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 var(--nay);
}
.background-video {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  object-fit: cover;
  filter: brightness(20%);
}

@media (max-width: 480px) {
  body{
    h2{
      font-size: 3em;
    }
    form{
      font-size: 1em;
    }
    li{
      font-size: 10px;
      padding: 10px;
      button{
        width: 45px;
        font-size: 8px;
      }
    }
  }
}
@media (max-width: 720px) {
  body{
    h2{
      font-size: 4em;
    }
    form{
      font-size: 3em;
    }
    li{
      font-size: 1em;
      padding: 1em;
      button{
        width: 50px;
        font-size: 16px;
      }
    }
  }
}